<!DOCTYPE HTML>
<html>
<head>
    <title>{$title}--{:C('WEB_TITLE')}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="__ACSS__bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="__ACSS__bootstrap-switch.css">
    <link rel="stylesheet" href="__ACSS__bootstrapValidator.css"/>
    <!-- Custom CSS -->
    <link href="__ACSS__style.css" rel='stylesheet' type='text/css' />
    <link href="__CCSS__page.css" rel="stylesheet">
    <!-- Graph CSS -->
    <link href="__ACSS__lines.css" rel='stylesheet' type='text/css' />
    <link href="__ACSS__font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="__AJS__jquery.min.js"></script>

    <!-- Nav CSS -->
    <link href="__ACSS__custom.css" rel="stylesheet">
    <!-- Metis Menu Plugin JavaScript -->
    <script src="__AJS__metisMenu.min.js"></script>
    <script src="__AJS__custom.js"></script>
    <!-- Graph JavaScript -->
    <script src="__AJS__d3.v3.js"></script>
    <script src="__AJS__rickshaw.js"></script>
    <script type="text/javascript" src="__CJS__layer/layer.js"></script>
    <script type="text/javascript" src="__AJS__bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="__AJS__bootstrapValidator.min.js"></script>
</head>

<body>

<div id="wrapper">

   {__CONTENT__}
</div>
<!-- /#wrapper -->
<!-- Bootstrap Core JavaScript -->
<script src="__AJS__bootstrap.min.js"></script>
</body>
</html>