{:W('Admin/menu')}
<div id="page-wrapper">
{$breadcrumb}
<div class="col-md-12 graphs">
    <div class="xs">
        <h3>权限节点列表</h3>
        <div>
            <ol class="breadcrumb">
                <li><a role="button" class="btn btn-default" href="{:U('Auth/node_add',array('nav_id'=>$_GET['nav_id']))}">添加节点</a></li>
            </ol>
        </div>
        <div class="bs-example4" data-example-id="contextual-table">
            <table class="table">
                <thead>
                <tr>
                    <th>权限名称</th>
                    <th>唯一标识</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="rules" id="v">
                <tr class="active">
                    <td>{$v.title}</td>
                    <td>{$v.name}</td>
                    <td>
                        <div class="switch small" data-on="info" data-off="success">
                            <input type="checkbox" <if condition="$v.status eq 1">checked</if>  name="status" data-id="{$v.id}" value="{$v.status}"/>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-xs btn-info" href="{:U('Auth/node_edit/',array('id'=>$v['id'],'nav_id'=>$_GET['nav_id']))}" role="button">修改</a>
                        <button type="button" class="btn btn-xs btn-warning warning_44 delete" data-id="{$v.id}">删除</button>
                    </td>
                </tr>
                    <volist name="v.child" id="child">
                        <tr class="active">
                            <td style="padding-left: 60px;" align="center">  └─{$child.title}</td>
                            <td>{$child.name}</td>
                            <td>
                                <div class="switch small" data-on="info" data-off="success">
                                    <input type="checkbox" <if condition="$child.status eq 1">checked</if>  name="status" data-id="{$child.id}" value="{$child.status}"/>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-xs btn-info" href="{:U('Auth/node_edit/',array('id'=>$child['id'],'nav_id'=>$_GET['nav_id']))}" role="button">修改</a>
                                <button type="button" class="btn btn-xs btn-warning warning_44 delete" data-id="{$child.id}">删除</button>
                            </td>
                        </tr>
                        <volist name="child.child" id="node">
                            <tr class="active">
                                <td style="padding-left: 60px;" align="right">  └─{$node.title}</td>
                                <td>{$node.name}</td>
                                <td>
                                    <div class="switch small" data-on="info" data-off="success">
                                        <input type="checkbox" <if condition="$node.status eq 1">checked</if>  name="status" data-id="{$node.id}" value="{$node.status}"/>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-info" href="{:U('Auth/node_edit/',array('id'=>$node['id'],'nav_id'=>$_GET['nav_id']))}" role="button">修改</a>
                                    <button type="button" class="btn btn-xs btn-warning warning_44 delete" data-id="{$node.id}">删除</button>
                                </td>
                            </tr>
                        </volist>
                    </volist>
                </volist>

                </tbody>
            </table>

            </form>
        </div>
</div>
<script>
    $(function () {
        $('[name="status"]').bootstrapSwitch({
            onText:"正常",
            offText:"禁用",
            onColor:"success",
            offColor:"info",
            size:"small",
            onSwitchChange:function(event,state){
                var id = $(this).data('id');
                if(state==true){
                    $(this).val("0");
                    var hide = 1;
                }else{
                    $(this).val("1");
                    var hide = 0;
                }
                $.post("{:U('Auth/node_status')}",{status:hide,id:id},function (result) {
                    if(result.status<0)
                    {
                        layer.msg(result.info);
                    }
                })
            }
        });

        $('.delete').click(function () {
            var id = $(this).data('id');
            layer.confirm('您确定要删除此权限节点吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.post("{:U('Auth/node_delete')}",{id:id},function (result) {
                    layer.msg(result.info);
                    if(result.status>0)
                    {
                        setTimeout(function(){
                            location.href=location.href;
                        },1500);
                    }
                })
            }, function(){

            });
        })
    })
</script>