{:W('Admin/menu')}
<div id="page-wrapper">
    {$breadcrumb}
    <div class="grid_3 grid_5">
        <div class="but_list">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#1" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">基本设置</a></li>
                    <li role="presentation" class=""><a href="#2" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">内容设置</a></li>
                    <li role="presentation" ><a href="#3" id="user-tab"  data-toggle="tab" aria-controls="user" aria-expanded="false">用户设置</a></li>
                    <li role="presentation" class=""><a href="#4" role="tab" id="web-tab" data-toggle="tab" aria-controls="web" aria-expanded="false">系统设置</a></li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <!--基本设置-->
                    <div role="tabpanel" class="tab-pane fade active in" id="1" aria-labelledby="home-tab">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <form class="form-horizontal bv-form" method="post" id="configForm1" novalidate="novalidate">
                                    <volist name="data[1]" id="v">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{$v.title}</label>
                                        <div class="col-sm-5">
                                            {$v.html}
                                        </div>
                                        <div class="col-sm-4">
                                            <p class="help-block">{$v.remark}</p>
                                        </div>
                                    </div>
                                    </volist>
                                </form>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <button  class="btn btn-success" id="form1">提交</button>
                                                <button type="" class="btn btn-inverse">返回</button>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!--基本设置END-->
                    <!--内容设置-->
                    <div role="tabpanel" class="tab-pane fade" id="2" aria-labelledby="profile-tab">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <form class="form-horizontal bv-form" method="post" id="configForm2"  novalidate="novalidate">
                                    <volist name="data[2]" id="v">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{$v.title}</label>
                                            <div class="col-sm-5">
                                                {$v.html}
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="help-block">{$v.remark}</p>
                                            </div>
                                        </div>
                                    </volist>
                                </form>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <button type="" class="btn btn-success" id="form2">提交</button>
                                                <button type="" class="btn btn-inverse">返回</button>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                     </div>
                    <!--内容设置END-->
                    <!--用户设置-->
                    <div role="tabpanel" class="tab-pane fade" id="3" aria-labelledby="dropdown1-tab">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <form class="form-horizontal bv-form" method="post" id="configForm3" novalidate="novalidate">
                                    <volist name="data[3]" id="v">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{$v.title}</label>
                                            <div class="col-sm-5">
                                                {$v.html}
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="help-block">{$v.remark}</p>
                                            </div>
                                        </div>
                                    </volist>
                                </form>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <button type="" class="btn btn-success" id="form3">提交</button>
                                                <button type="" class="btn btn-inverse">返回</button>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                     </div>
                    <!--用户设置END-->
                    <!--系统设置-->
                    <div role="tabpanel" class="tab-pane fade" id="4" aria-labelledby="dropdown2-tab">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <form class="form-horizontal bv-form" method="post"  id="configForm4" novalidate="novalidate">
                                    <volist name="data[4]" id="v">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{$v.title}</label>
                                            <div class="col-sm-5">
                                                {$v.html}
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="help-block">{$v.remark}</p>
                                            </div>
                                        </div>
                                    </volist>
                                </form>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <button type="" class="btn btn-success" id="form4">提交</button>
                                                <button type="" class="btn btn-inverse">返回</button>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                    <!--系统设置END-->
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#form1').click(function () {
            var form = $("#configForm1");
            $.post("{:U('Config/setConfig')}", form.serialize(),function (result) {
                layer.msg(result.info);
                if(result.status>0){
                    setTimeout(function(){
                        location.href="{:U('Config/index')}"+'#1';
                    },1500);
                }
            })
        })

        $('#form2').click(function () {
            var form = $("#configForm2");
            $.post("{:U('Config/setConfig')}", form.serialize(),function (result) {
                layer.msg(result.info);
                if(result.status>0){
                    setTimeout(function(){
                        location.href="{:U('Config/index')}"+'#2';
                    },1500);
                }
            })
        })

        $('#form3').click(function () {
            var form = $("#configForm3");
            $.post("{:U('Config/setConfig')}", form.serialize(),function (result) {
                layer.msg(result.info);
                if(result.status>0){
                    setTimeout(function(){
                        location.href="{:U('Config/index')}"+'#3';
                    },1500);
                }
            })
        })

        $('#form4').click(function () {
            var form = $("#configForm4");
            $.post("{:U('Config/setConfig')}", form.serialize(),function (result) {
                layer.msg(result.info);
                if(result.status>0){
                    setTimeout(function(){
                        location.href="{:U('Config/index')}"+'#4';
                    },1500);
                }
            })
        })
    </script>