{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
<title>404</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="__CCSS__style.css" rel="stylesheet" type="text/css" media="all" />
<link href='' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="main">

		<h1>404</h1>
		<h2>ooops, something goes wrong</h2>
		<div class="more_w3ls">
			<a href="{:U('Index/index')}">返回首页</a>
		</div>
		<div class="wthree_social_icons">
	
		</div>
		<div class="copyright">
			<p></p>
		</div>
	</div>
</body>
</html>